.features {
    @include section
}


.features__list {
    @media screen and (min-width:1200px) {
    display: flex;
    gap: 30px;
    }
 }
    

.feature__icon {
    @media screen and (min-width:480px) {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        width: 450px;
        height: 120px;
        margin-bottom: 30px;
            
        background-color: #f5f4fa;
    
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @media screen and (min-width:1200px) {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            width: 270px;
            height: 120px;
            margin-bottom: 30px;
            gap: 30px;
        
            background-color: #f5f4fa;
        
            // transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &:hover,
    &:focus {
        fill: var(--accent-color);
    }

}

.features__list .feature__item {
    margin-bottom: 30px;
}

.feature__title {
    margin-bottom: 10px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);

}
.feature__title {
@media screen and (max-width: 767px) {
    text-align: center;

    }
}


.feature__text {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--brand-color);
}
