.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    background-color: var(--third-color);
    color: var(--icons-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: var(--accent-color);
    color: var(--third-color);
}   
}

.socials__icon {
    fill: currentColor;
}

